<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuming.common.mapper.AddressMapper">
    <!--查询所有地址信息-->
    <select id="queryAddress" resultType="com.kuming.common.dto.Address">
        SELECT
        <if test="distinct">
            distinct
        </if>
        address_id addressId,address from address
    </select>
</mapper>